@model Ingredient

<h3>@Model.Name Information</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity in Stock</th>
        <th>Unit of Measurement</th>
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.Name</td>
        <td>@Model.Description</td>
        <td>@Model.Quantity_in_stock</td>
        <td>@Model.Unit_of_Measurement</td>
    </tr>
</table>

<div style="display: block">
    <a href="/Ingredient/UpdateIngredient/@Model.ID">Update this Ingredient</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteIngredient", "Ingredient", "Post"))
    {
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this Ingredient" />
    }
</div>