@model Product

<h2>Update @Model.Name</h2>

@using (Html.BeginForm("UpdateProductToDatabase", "Product", "Post"))
{
    <input asp-for="ID" type="hidden" value="@Model.ID" />

    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="@Model.Name" />

    <label asp-for="Description" class="control-label">Description</label>
    <input type="text" name="Description" class="form-control" value="@Model.Description" />

    <label asp-for="Price" class="control-label">Price</label>
    <input type="number" step="0.01" name="Price" class="form-control" value="@Model.Price" />

    <label asp-for="Quantity_In_Stock" class="control-label">Quantity In Stock</label>
    <input type="number" name="Quantity_In_Stock" class="form-control" value="@Model.Quantity_In_Stock" />

    <input type="submit" value="Update Product" class="btn btn-primary" />
}

